{% extends 'base.html' %}

{% block content %}
<h1>Races</h1>
<a class="btn btn-primary mb-3" href="{{ url_for('main.race_or_series_new') }}">Create New Race</a>
<table class="table table-hover sortable">
  <thead>
    <tr><th>Date</th><th>Start time</th><th>Series</th><th># Finishers</th></tr>
  </thead>
  <tbody>
    {% for race in races %}
    <tr onclick="window.location='{{ url_for('main.race_sheet', race_id=race.race_id) }}'" style="cursor: pointer;">
      <td>{{ race.date }}</td>
      <td>{{ race.start_time or '' }}</td>
      <td>{{ race.series_name }}</td>
      <td>{{ race.finishers }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
